@page "/Journals"

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>@titel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>@infotext</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@tablehead1</th>
                            <th>@tablehead2</th>
                            <th>@tablehead3</th>
                            <th>@tablehead4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code{
    string titel = "Dine Journaler";
    string infotext = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. " +
            "Nunc cursus consectetur justo facilisis maximus. Vivamus metus ligula, malesuada vitae turpis at, efficitur ultrices quam. " +
            "Mauris consequat lorem at quam sodales, sed interdum augue euismod. Quisque ac augue ac neque lobortis dictum vitae eget magna. " +
            "Nam mattis dolor facilisis tortor elementum dignissim. Curabitur volutpat mauris at ipsum pellentesque, ut scelerisque neque euismod." +
            " Nam tincidunt nisi diam. Praesent sodales eros et nibh volutpat finibus. Morbi euismod pharetra dui, in imperdiet neque vehicula a. " +
            "Etiam porta, turpis et dapibus facilisis, eros metus tincidunt lectus, sed molestie risus velit nec nulla. " +
            "Nullam viverra risus non leo mattis convallis. Vivamus nec blandit lorem, eget aliquam mauris.";
    string tablehead1 = "Senest opdateret";
    string tablehead2 = "Hospital";
    string tablehead3 = "Afdeling";
    string tablehead4 = "Diagnose";


}